---
# Overwrite Tachyons here. Don't go overboard!
---
// Headline Font Declaration
@font-face {
  font-family:'manege';
  src: url('/fonts/manege.otf');
}

.manege {
  font-family: "manege";
}

// Post Body Overrides
// Maybe one day there will be a better way to do this but until then:
#post {
  a {
    color: black;
    text-decoration: none;
    border-bottom: 1px black solid;
    transition: opacity .15s ease-in;
  }
  a:hover {
    opacity: .5;
    transition: opacity .15s ease-in;
  }
}

#editorial-header {
  a {
    color: white;
    border-bottom: none;
  }
}

// Rules that I wish were included in Tachyons but are not
.tracked-med {
  letter-spacing: .05em;
}

.appearance-none {
  -webkit-appearance: none;
   -moz-appearance: none;
        appearance: none;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: red;
}

progress::-moz-progress-bar {
  background-color: red;
}

.multiply {
  background-blend-mode: multiply;
}

// Selection Color Override
::-moz-selection {
    color: white;
    background: pink;
}

::selection {
    color: white;
    background: pink;
}
