<footer class="tracked-med lh-copy mt5">
  <div class="fl-ns fn w-third-ns w-100 mb0-ns mb4 pr3">
    <h2 class="f5 fw4 mb0 bb mb3 pb3">Information</h2>
    <ul class="list pl0 f5 fw4 mt0">
      <li><a class="link black dim" href="/information/about.html">About</a></li>
      <li><a class="link black dim" href="/information/sponsorship.html">Sponsorship</a></li>
      <li><a class="link black dim" href="">Colophon</a></li>
      <li><a class="link black dim" href="/information/masthead.html">Masthead</a></li>
      <li><a class="link black dim" href="">Press</a></li>
    </ul>
  </div>

  <div class="fl-ns fn w-third-ns w-100 mb0-ns mb4 pr3">
    <h2 class="f5 fw4 mb0 bb mb3 pb3">Follow Us</h2>
    <ul class="list pl0 f5 fw4 mt0">
      <li><a class="link black dim" href="">Instagram</a></li>
      <li><a class="link black dim" href="">Twitter</a></li>
      <li><a class="link black dim" href="">Facebook</a></li>
      <li><a class="link black dim" href="">RSS</a></li>
    </ul>
  </div>

  <div class="fl-ns fn w-third-ns w-100 mb0-ns mb4">
    <h2 class="f5 fw4 mb0 bb mb3 pb3">Endless Weekly</h2>
    <p class="f5 fw4 mt0">Leave your email address and we'll send you an infrequent but consistent barrage of good things.</p>
    <input class="mr2 mb2"></input><button class="pointer bn bg-white pa0 f5 fw4 dim">Sign Up <span class="f6">&rarr;</span></button>
  </div>
</footer>
<div class="cf"></div>
