<header class="tracked-med" id="header">

  <!--Logo might live here one day-->
  <h1 class="f5 fw4 w-third-ns w-two-thirds fl mt0"><a class="link black dim" href="{{ site.baseurl }}/index.html">☶ Endless <span class="i">Times</span></a></h1>

  <!--Main navigation at medium & large breakpoints-->
  <ul class="list f5 fw4 w-two-thirds-ns fl mt0 pl0 dn db-ns">
    <li class="dib mr2"><a class="link black dim" href="#">Stories</a></li>
    <li class="dib mr2"><a class="link black dim" href="#">Interviews</a></li>
    <li class="dib mr2"><a class="link black dim" href="#">Podcast</a></li>
    <li class="dib mr2"><a class="link black dim" href="#">Mixes</a></li>
    <li class="dib mr2"><a class="link black dim" href="#">Shop</a></li>
  </ul>

  <!--Placeholder for navigation trigger at small breakpoint-->
  <h2 class="f5 fw4 db dn-ns w-two-thirds-ns w-third fl tr mt0"><a class="link black dim" href="#">Menu</a></h2>
</header>
<div class="cf"></div>
